body {
  background-color: #56b4f770;
}

#content {
  position: absolute;
  top: 100px;
  height: 100vh - 100px;
  width: 100vw;
}

#navigationBar {
  background-color: #1069c3de;
}

.navbar-brand {
  color: #f9fdff;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0px 3px 0px rgba(58, 69, 86, 0.503),
    0 -4px 0px rgba(145, 174, 255, 0.2);
}

.top-text {
  color: #023e56;
  font-weight: 600;
}

.light-shadow {
  text-shadow: 0px 2px 1px rgba(24, 24, 24, 0.3);
}

input {
  border-radius: 15px;
}

.btn {
  box-shadow: 0px 5px 6px 0px rgba(2, 19, 44, 0.3);
}

.card {
  background-color: #093552;
  color: rgb(197, 218, 255);
  text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3),
    0 -4px 5px rgba(145, 174, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0px 25px 0px -10px rgba(33, 80, 145, 0.3);
}

#temperature {
  font-size: 100px;
}

@media screen and (max-width: 600px) {
  #temperature {
    font-size: 18vw;
  }
}

@media screen and (min-width: 767px) {
  #location-name {
    font-size: 5vw;
  }
  #phrase {
    font-size: 5vw;
  }
}
